@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Cyan: hsl(179, 65%, 60%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla';
    font-size: 16px;
}

@media only screen and (max-width: 768px) {


    body {
        height: 100%;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        padding: 3rem;
    }

    .card--right {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .container {
        width: 90%;
    }

}

@media only screen and (min-width: 768px) {

    body {
        height: 100vh;
    }


    .card {
        width: 50%;
    }

    .card--left {
        border-bottom-left-radius: 10px;
    }

    .card--right {
        border-bottom-right-radius: 10px;
    }

    .container {
        width: 50%;
    }
}

body {
    width: 100vw;
    background-color: var(--Light-Gray);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header {
    background-color: white;
    padding: 2.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--Cyan);
    margin: 10px 0;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--Bright-Yellow);
    margin: 10px 0;
}

p {
    color: var(--Grayish-Blue);
    font-weight: 400;
}

.cards {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    padding: 2rem;
    box-sizing: border-box;
}

.card p,
.card h1,
.card h2 {
    color: white;
    margin-top: 1.5rem;
}

.card--left {
    background-color: var(--Cyan);

}

.card--right {
    background-color: var(--Bright-Cyan);
    display: grid;
    grid-template-columns: 1fr 0.25fr;
}

button {
    background-color: var(--Bright-Yellow);
    border: none;
    color: white;
    padding: 0.7rem;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    width: 100%;

}

footer {
    width: 100%;
}